<html>


<body>
    <div>
        <h3>Welcome to Sri Yennana</h3>
        <form action="/collectSub" method="post">
            <input type="text" name="FirstName" placeholder="FirstName">
            <input type="text" name="LastName" placeholder="LastName">
            <input type="email" name="Email" placeholder="Email">
            <button type="submit">Signup</button>
        </form>
    </div>
</body>

</html>